.item-detail{
    width: 100%;
    display: flex;
  }
  .image-detail{
    width: 25%;
    padding: 40px;
  }
  .image-detail img{
    width: 100%;
  }
  .content-detail{
    width: 75%;
    padding: 0 20px;
  }
  .name-detail{
    font-size: 35px;
  }
  .text-detail{
    font-size: 20px;
  }

  .button-cart {
    font-weight: 700;
    font-size: large;
    border: solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.button-cart:hover {
  cursor: pointer;
  background-color: rgb(87, 87, 87);
  color: whitesmoke;
}
.contador {
  display: flex;

}