.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 20px ;
    margin-bottom: 20px;
  }
  .navbar .brand{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .brand .logo{
    height: 60%;
    padding: 0 40px;
  }
  .navbar .categorias{
    width: 80%;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .navbar .categorias .categoria{
    padding-right: 20px;
  }